{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "semi": "error",
    "prefer-template": "error",
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "double", "avoid-escape"]
  }
}